@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');


@font-face {
  font-family: fontelogo;  
  src: url("../_fonts/bubblegum-sans-regular.otf")
}
body {
    font-family:arial,sans-serif;
     background-color: rgb(238, 245, 245);
         color: rgba(15, 15, 15, 0.863) ;
}
div#interface {
width : 1750px;
background-color:rgba(252, 252, 252, 0.87);
margin: 20px autopx 0px autopx;
box-shadow: 0px 0px 45px rgba(0,0,0,.5);
padding: 10px;
}
a{
    color:#606060;
    text-indent: nome;

}
a hover{
    text-decoration:undeline;
}
header#cabecalho img#icone {
position: absolute;
left: 1680px;
top :150px

}


header#cabecalho {
    font-family: 'BhuTuka Expanded One';
    border-bottom: 3px #817e7e solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg")no-repeat 0px 80px;
    text-decoration: underline;

}


header#cabecalho h1{
    font-family: 'Smooch Sans';
font-size: 30px;
color: rgb(27, 27, 27);
text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
padding: 2px;
margin-bottom: 2px;


}
header#cabecalho h2 {

    font-family: 'BhuTuka Expanded One';
    font-size: 15px;
    color: rgb(38, 38, 39);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
margin-bottom: 10px;

}
 /* formatação de foto com legenda */

 figure.foto-legenda{
     position: relative;
        border: 8px solid rgba(20, 181, 192, 0.733);
            box-shadow: 1px 1px 4px black
 }
figure.foto-legenda img{
    width: 100%;
        height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
        position: absolute;
            top: 0px;
                background-color: rgba(0,0,0,.4);
                    color: rgb(88, 196, 45);
                        width: 100%;
                            height: 100%;
                                padding:2px;
                                    box-sizing:border-box;
                                        transition: opacity 1s;
}
    figure.foto-legenda:hover figcaption{
    opacity :1;
    }
    /* formatação do menu */

    nav#menu {
    display: block;
    }
    nav#menu ul {

    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
    }
    nav#menu li {
        display: inline-block;
    background-color: rgba(199, 199, 199, 0.973);
    padding: 10px;
    margin: 2px;
    transition: background-color 0,5s;
    }
    nav#menu li:hover {
    background-color: rgba(103, 172, 76, 0.815);
    }
    nav#menu h1 {
    display: none;
    }
    nav#menu a {
    color: rgb(8, 8, 8);
    text-decoration: none;

    }
    nav#menu a:hover {
    color: rgb(16, 23, 83);
    text-decoration: underline;
    }
    section#corpo {
        display:block;
        width : 870px;
        float:left;
        border-right: 1px solid #606060;
        padding: right 10px;
        border-bottom: 3px #817e7e solid;
    }
    table#tabela1{
        border: 1px solid #606060;
        border-spacing: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    table#tabela1 td {
        border: 1px solid #c2bec1;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }

    table#tabela1 td.CE {
        color:antiquewhite;
        background-color:#777272;
        vertical-align: top;
        FONT-weight:bold;
    }
    table#tabela1 td.CD {

        color:rgb(15, 15, 15);
        background-color:#606060;

    }
    table#tabela1 td.CL {
        color:rgb(0, 0, 0);
        background-color:#d6c31d;
    }

    table#tabela1 caption {
        color: #888888;
        font-size:13pt;
        font-weight: bolder;
    }
    table#tabela1 caption span {
        display: block;
        float: right;
        color:rgb(238, 37, 37);
        font-size:8pt;
        margin-top:10px;
    }

    aside#lateral {

        display:block;
        width: 820px;
        float:left;
        text-align:center;
        background-color: #cec8c8;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 2px 2px 2px rgb(109, 119, 117);
        
    }
aside#lateral h1 {
font-family:'Smooch Sans' sans-serif;
font-size: 20pt;
color:#fff9f9;
background-color: #838282;

}
    footer#rodape{
        clear:both;
     }
    footer#rodape p {
        text-align:center;
    }
    article#noticia-principal h2{
font-size:12pt;
color:#606060;
background-color:#888888;
padding: 5px 0px 5px 0px;
margin: 10px 0px 10px 0px
    }

  header#cabecalho-artigo h1{
font-family: 'Smooch Sans' sans-serif;
font-size:20pt;
color: #606060;

  }  
  header#cabecalho-artigo h2{
font-size: 13px;
color:#cecece;
background-color:#14a79f ;
    margin:0px;

} 
header#cabecalho-artigo h3{
font: size 12px;
color:#d30909;
margin: 0px;
    
}  



